@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: rgb(252, 251, 247);
    font-family: "Oswald", sans-serif;
}
header{
    background-color: rgb(110, 110, 241);
    height: 100px;
    width: auto;
}
header h1{
    color: white;
    padding-left: 5%;
    padding-top: 1%;
}
#calosc{
    background-color: rgb(208, 208, 208);
    height:450px;
    padding-left: 5%;
    padding-top: 3%;
    border-radius: 30px;
    
}
#gora{
    padding-left: 5%;
    margin-bottom: 3%;
}
#p{
    float: left;
    width: 40%;
    padding-left: 10%;
}
#p img {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    position:absolute;
}
#l{
    float: left;
    width: 50%;
}
#w{
    clear: both;
}

button{
    background-color: rgb(65, 65, 255);
    height: 40px;
    margin-bottom: 7px;
    width: 30%;
    box-shadow: -1px 1px 36px 3px rgba(0,0,0,0.65);
    -webkit-box-shadow: -1px 1px 36px 3px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 1px 36px 3px rgba(0,0,0,0.65);
    border-radius: 10px;
}
button:hover{
    
    background-color: rgb(65, 255, 122);
    transition-duration: 0.4s;
}
#pow button{
    margin-top: 30px;
    
}
footer{
    text-align: center;
}